name: meu workflow

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Iniciando job
        run: |
          echo "Iniciando job em $(date)"
      - name: Checkout codigo
        uses: actions/checkout@v4
      - name: Configurando o Ambiente
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: '17'
      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.8.2'
      - name: Verificar vers천es da JVM e do Maven
        run: |
          java -version
          mvn -version
      - name: Limpar diretorio
        run: mvn clean
      #- name: Executar Testes
      #  run: mvn test
      - name: Incrementar vers찾o
        id: increment-version
        shell: bash
        run: |
          current=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "Vers찾o atual: $current"

          IFS='.' read -r major minor patch <<< "$current"
          new_major=$((major + 1))
          next="$new_major.$minor.$patch"
          echo "Nova vers찾o: $next"

          mvn versions:set -DnewVersion=$next
          new_version=$next" >> "$GITHUB_OUTPUT
          echo "new_version=$next" >> "$GITHUB_OUTPUT"
      - name: Build do Projeto
        run: mvn package -DskipTests
      - name: Copiar artefato
        run: |
          cp target/*.jar docker/app.jar
      - name: Build Docker Image
        run: docker build . -f docker/Dockerfile -t biblioteca:2.0
      - name: Criar TAG
        run: docker tag biblioteca:2.0 denisefc/biblioteca:2.0
      - name: Criar TAG latest
        run: docker tag biblioteca:2.0 denisefc/biblioteca:latest
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Docker Push
        run: docker push denisefc/biblioteca:2.0
      - name: Docker Push latest
        run: docker push denisefc/biblioteca:latest
      - name: Atualizando K8s
        run: kubectl rollout restart deploy biblioteca-deploy -n biblioteca
      - name: Status do Deploy
        run: kubectl rollout status deploy biblioteca-deploy -n biblioteca